body {
  user-select: none;
}

#toolbar {
  position: fixed;
  top: 10px;
  right: 10px;
}

#toolbar button {
  outline: none;
  margin: 0;
  padding: 5px;
  min-width: 50px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

#toolbar button:active {
  background-color: #6495ed;
}

.selected {
  background-color: #FFC600;
}

canvas {
  background-color: #F9F9F9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
